<% page.posts.sort(theme.index_generator.order_by).limit(theme.index_generator.per_page).each(function(post) { %>
	<article class="layui-card" path="<%= url_for(post.path) %>">
		<div class="layui-card-header"><%- post.title %></div>
		<div class="layui-card-body">
			<div class="description">
				<span class="layui-breadcrumb" lay-separator="|">
					<a><cite><i class="fa fa-calendar-o" title="创建时间"></i> <%- date(post.date) %> <%- time(post.date) %></cite></a>
					<a><cite><i class="fa fa-eye" title="阅读次数"></i> 阅读次数：123</cite></a>
					<a><cite><i class="fa fa-file-word-o" title="本文字数"></i> 本文字数：<%- symbolsCount(post) %></cite></a>
					<a><cite><i class="fa fa-clock-o" title="阅读时长"></i> 阅读时长 ≈ <%- symbolsTime(post, theme.symbols_count_time.awl, theme.symbols_count_time.wpm, theme.symbols_count_time.suffix) %></cite></a>
				</span>
			</div>
			<div class="excerpt">
				<%- post.excerpt %>
			</div>
			<% 
				let intervalDate = post.updated.diff(post.date, 'days');
				if (intervalDate >= 1 || post.tags.length) {
			%>
				<hr>
				<div class="article-footer layui-clear">
					<% if (intervalDate >= 1) { %>
						<span>
							更新于：<%- post.updated.format('YYYY-MM-DD HH:mm:ss') %>
						</span>
					<% } %>
					<span class="tag">
						<% post.tags.data.forEach((tag)=>{ %>
							<span class="layui-badge layui-bg-gray">
								<% if (theme.tag.icon) { %>
									<i class="<%- theme.tag.icon %>" aria-hidden="true"></i>
								<% } else { %>
									<i class="fa fa-tag" aria-hidden="true"></i>
								<% } %>
								<%- tag.name %>
							</span>
						<% }) %>
					</span>
				</div>
			<% } %>
		</div>
	</article>
<% }); %>