<!DOCTYPE html>
<html langh="en">
<head>
    <title><%- theme.title %></title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>
    <!-- 字体图片库 -->
    <%- css('lib/font-awesome/css/font-awesome.min.css') %>
	<link href="https://cdn.bootcdn.net/ajax/libs/pure/2.0.3/pure-min.css" rel="stylesheet">
	<!-- bootstrap -->
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- layui -->
	<link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
</head>
<body>
	<!-- 引入cdn相关 -->
	<%- include('script.ejs') %>
	<%- js('js/main.js') %>
	<%- js('js/nav.js') %>
	<header class="layui-layout layui-layout-admin layui-main">
		<div class="layui-header header">
			<div class="layui-logo">
				<% if (theme.site.logo) { %>
					<img src="<%= theme.site.logo %>"/>
				<% } %>
				<%= theme.site.title %>
			</div>
			<!-- 引入导航 -->
			<%- include('nav.ejs') %>
		</div>
	</header>
	<!-- 文章列表 -->
	<div class="main layui-layout layui-layout-admin">
		<%- body %>
	</div>
</body>
</html>