<!DOCTYPE html>
<html langh="en">
<head>
    <title><%- theme.title %></title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>
    <!-- fontawesome -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- layui -->
	<link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
</head>
<body>
	<!-- 引入cdn相关 -->
	<%- include('script.ejs') %>
	<%- include('variable.ejs') %>
	<%- js('js/main.js') %>
	<%- js('js/nav.js') %>
	<header class="layui-layout layui-layout-admin">
		<div class="layui-header header">
			<div class="layui-logo">
				<% if (theme.site.logo) { %>
					<img src="<%= theme.site.logo %>"/>
				<% } %>
				<a href="/"><%= theme.title %></a>
			</div>
			<!-- 引入导航 -->
			<%- include('nav.ejs') %>
		</div>
	</header>
	<!-- 文章列表 -->
	<main class="main layui-layout layui-layout-admin" id="content">
		<%- body %>
		<nav id="pagination">
				<%-
					paginator({
						prev_text: '上一页',
						next_text: '下一页',
						space: '...',
						mid_size : 1,
						escape   : false
					})	
				%>
		</nav>
	</main>
	<footer class="footer">
		<div class="layui-breadcrumb" lay-separator="|">
			<a>© 
				<%
					let now = moment().year();
					let since = moment(theme.footer.since);
					if (since.isSame(now)) {
				%>
					<%- since %>
				<% } else if (since.isBefore(now)) { %>
					<%- since %> - <%- now %>
				<% } %>
				<i class="fa fa-heartbeat"></i>
				<%- theme.author %></a>
			<a><i class="fa fa-area-chart" title="站点字数"></i> 站点字数 ≈ <%- symbolsCountTotal(site, theme.symbols_count_time.awl, theme.symbols_count_time.wpm, theme.symbols_count_time.suffix) %></a>
			<a><i class="fa fa-coffee" title="站点阅读时长"></i> 站点阅读时长 ≈ <%- symbolsTimeTotal(site, theme.symbols_count_time.awl, theme.symbols_count_time.wpm, theme.symbols_count_time.suffix) %></a>
		</div>
	</footer>
	<input type="hidden" id="reduction"/>
	<div>
		<a href="javascript:;" id="backTop" title="回到顶部" class="layui-circle"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
	</div>
</body>
</html>