<!DOCTYPE html>
<html langh="en">
<head>
    <title><%- theme.title %></title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>
    <!-- 字体图片库 -->
    <%- css('lib/font-awesome/css/font-awesome.min.css') %>
	<link href="https://cdn.bootcdn.net/ajax/libs/pure/2.0.3/pure-min.css" rel="stylesheet">
	<!-- bootstrap -->
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img src="<%= theme.site.logo %>" width="30" height="30" alt="" loading="lazy"> <%= theme.site.title %></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<nav id="bs-navbar" class="collapse navbar-collapse">
			<!-- 引入导航 -->
			<%- include('nav.ejs') %>
		</nav>
	</nav>
	<div id="main">
		<!-- 引入正文 -->
		<div id="content">
			<div id="article">
				<%- body %>
			</div>
		</div>
	</div>
	<!-- 引入cdn相关 -->
	<%- include('script.ejs') %>
	<%- js('js/main.js') %>
</body>
</html>